version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: mikroinwestor_web
    ports:
      - "8080:80"
    volumes:
      - .:/app
    depends_on:
      - php

  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    container_name: mikroinwestor_db
    environment:
      POSTGRES_DB: mikroinwestor_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    volumes:
      - mikro-db-data:/var/lib/postgresql/data
      - ./docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: mikroinwestor_php
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      - FINNHUB_API_KEY=${FINNHUB_API_KEY}

volumes:
  mikro-db-data: