<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/login.css" rel="stylesheet">
    <title>MikroInwestor | Logowanie</title>
</head>
<body id="login-page">
    
    <div class="auth-box">
        <div class="logo-area">
            <i class="fa-solid fa-chart-line neon-icon"></i>
            <h1>Mikro<span>Inwestor</span></h1>
        </div>

        <form class="login-form" action="login" method="POST">
            <div class="messages">
                <?php if(isset($messages)): ?>
                    <?php foreach($messages as $message): ?>
                        <div class="error-badge">
                            <i class="fa-solid fa-circle-exclamation"></i> <?= $message; ?>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            
            <div class="input-container">
                <i class="fa-solid fa-at"></i>
                <input name="email" type="email" placeholder="Email" required>
            </div>

            <div class="input-container">
                <i class="fa-solid fa-key"></i>
                <input name="password" type="password" placeholder="Hasło" required>
            </div>

            <button type="submit" class="login-btn">
                ZALOGUJ SIĘ <i class="fa-solid fa-right-to-bracket"></i>
            </button>

            <div class="form-footer">
                Nie masz konta? <a href="register">Zarejestruj się</a>
            </div>
        </form>
    </div>
</body>
</html>