/* Siatka kart */
section {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

/* Szklana karta akcji */
.card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    border-color: #00d2ff;
}

.price { font-size: 24px; font-weight: bold; margin: 10px 0; }
.positive { color: #00ff88; }
.negative { color: #ff4444; }

/* Panel boczny i timer */
aside {
    flex: 1;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 15px;
    padding: 20px;
}

.refresh-timer {
    background: rgba(0, 210, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}



.trade-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.btn-trade {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-trade.buy {
    background: #00d2ff;
    color: black;
}

.btn-trade.sell {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-trade.sell.disabled {
    opacity: 0.3;
    pointer-events: none; /* Wyłącza klikanie */
}

.btn-trade.buy:hover {
    background: #00ff88;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
}



.badge {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.badge.buy {
    background-color: rgba(0, 210, 255, 0.2);
    color: #00d2ff;
    border: 1px solid #00d2ff;
}

.badge.sell {
    background-color: rgba(255, 68, 68, 0.2);
    color: #ff4444;
    border: 1px solid #ff4444;
}