.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-nav .nav-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
}

.main-nav .nav-logo img.main-logo {
    height: 120px;
    width: auto;
    display: block;
}




.desktop-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style: none;
    color : yellow;
    gap: 25px;
    align-items: center;
}

.desktop-icons li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px; /* Zmienione z 1px */
    letter-spacing: 1px;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
}

.desktop-icons li a[href="admin_panel"] {
    color: #ff4b2b;
}

.desktop-icons li a i {
    font-size: 18px; /* Rozmiar samej ikony */
    margin-bottom: 5px;
}

.desktop-icons li a:hover {
    color: #00d2ff;
}

.balance-item {
    padding: 5px 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}